@model WebSiteMjr.Domain.Model.Employee

@{
    ViewBag.Title = "Deletar Funcionário";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja deletar o Funcionário: @Model.Name</h3>
<fieldset>
    <legend>Funcionário</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.LastName, "Sobrenome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Phone, "Celular")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar a listagem", "Index")
    </p>
}
