@model WebSiteMjr.Domain.Model.Employee

@{
    ViewBag.Title = "Detalhes do Funcionário";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Funcionário</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.LastName, "Sobrenome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Phone, "Celular")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar a listagem", "Index")
</p>
