@model WebSiteMjr.ViewModels.CheckinToolViewModel

@{
    ViewBag.Title = "Deletar Movimentação de Ferramenta";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja deletar esta Movimentação?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Movimentação</legend>

        <div class="editor-label">
            @Html.ValidationMessage("HolderNotExists")
        
            @Html.LabelFor(model => model.ToolName, "Ferramenta")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ToolName, new { id = "Tool_Name" })
            @Html.HiddenFor(model => model.ToolName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeCompanyHolderName, "Funcionário/Condomínio")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.EmployeeCompanyHolderName, new { id = "EmployeeCompanyHolder_Name" })
            @Html.HiddenFor(model => model.EmployeeCompanyHolderName)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyAreaName, "Área do Condominio")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CompanyAreaName, new { id = "CompanyArea_Name" })
            @Html.HiddenFor(model => model.CompanyAreaName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckinDateTime, "Data do Checkin")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CheckinDateTime, new { id = "Date" })
            @Html.HiddenFor(model => model.StrCheckinDateTime)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar a busca de Movimentações", "Index")
    </p>
}
