@model WebSiteMjr.ViewModels.CreateCheckinToolViewModel

@{
    ViewBag.Title = "Deletar Movimentação de Ferramenta";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja deletar esta Movimentação?</h3>
<fieldset>
    <legend>Movimentação</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.ToolName, "Ferramenta")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ToolName, new { id = "Tool_Name" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EmployeeCompanyHolderName, "Funcionário/Condomínio")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.EmployeeCompanyHolderName, new { id = "EmployeeCompanyHolder_Name" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CheckinDateTime, "Data do Checkin")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.CheckinDateTime, new { id = "Date" })
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar a busca de Movimentações", "Index")
    </p>
}
