@model WebSiteMjr.ViewModels.CreateCheckinToolViewModel

@{
    ViewBag.Title = "Editar Movimentação de Ferramenta";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movimentação</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToolName, "Ferramenta")
        </div>
        <div class="editor-field">
            @Html.ValidationMessage("ToolNotExists")
            @Html.EditorFor(model => model.ToolName, new { id = "Tool_Name" })
            @Html.ValidationMessageFor(model => model.ToolName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeCompanyHolderName, "Funcionário/Condomínio")
        </div>
        <div class="editor-field">
            @Html.ValidationMessage("HolderNotExists")
            @Html.EditorFor(model => model.EmployeeCompanyHolderName, new { id = "EmployeeCompanyHolder_Name" })
            @Html.ValidationMessageFor(model => model.EmployeeCompanyHolderName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StrCheckinDateTime, "Data do Checkin")
        </div>
        <div class="editor-field">
            @Html.ValidationMessage("DateExists")
            @Html.EditorFor(model => model.StrCheckinDateTime, new { id = "CheckinDateTime" })
            @Html.ValidationMessageFor(model => model.StrCheckinDateTime)
        </div>

        <p>
            <input type="submit" value="Atualizar" />
        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a busca de Movimentações", "Index")
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/Mask/Masks.js")"></script>
    <script src="@Url.Content("~/Scripts/CheckinTool/checkinTool.js")"></script>
}