@model WebSiteMjr.ViewModels.ListCheckinToolViewModel

@{
    ViewBag.Title = "Lista de Movimentação das Ferramentas";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <button type="button" class="btn btn-default" onclick="location.href = 'CheckinTool/Create'"><i class="fa fa-pencil"></i> @Html.ActionLink("Cadastrar Nova Movimentação", "Create")</button>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Buscar Checkin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tool, "Ferramenta")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tool)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeCompanyHolder, "Funcionário/Condomínio")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmployeeCompanyHolder)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CheckinDateTime, "Data da Movimentação")
        </div>
        <div class="editor-field1">
            @Html.TextBoxFor(model => model.CheckinDateTime)
        </div>

        <p>
            <input type="submit" value="Buscar" />
        </p>

    </fieldset>
}

<br/>

@if (Model != null && Model.CheckinTools != null && Model.CheckinTools.Any())
{
    <table id="Grid" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>
                    Ferramenta
                </th>
                <th>
                    Funcionário/Condomínio
                </th>
                <th>
                    Data do Checkin
                </th>
                <th class="filter-false sorter-false">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CheckinTools)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeCompanyHolderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckinDateTime)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o" })
                        @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-square-o" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash-o" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    <div id="pager" class="pager">
        <form>
            <img src="../../Content/themes/base/images/pager/icons/first.png" class="first" />
            <img src="../../Content/themes/base/images/pager/icons/prev.png" class="prev" />
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <img src="../../Content/themes/base/images/pager/icons/next.png" class="next" />
            <img src="../../Content/themes/base/images/pager/icons/last.png" class="last" />
            <select class="pagesize">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </form>
    </div>
}
else
{
    <h3>Nenhum Checkin Encontrado</h3>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Mask/Masks.js")"></script>
    <script src="@Url.Content("~/Scripts/CheckinTool/checkinTool.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.widgets.js")"></script>
    <script src="@Url.Content("~/Scripts/MjrJsComponents/MjrGrid.js")"></script>
}
