@model WebSiteMjr.ViewModels.ListCheckinToolViewModel

@{
    ViewBag.Title = "Lista de Checkins";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Checkin", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Buscar Checkin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tool, "Ferramenta")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tool)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeCompanyHolder, "Funcionário/Condomínio")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmployeeCompanyHolder)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.CheckinDateTime, "Data do Checkin")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CheckinDateTime)
        </div>

        <p>
            <input type="submit" value="Buscar" />
        </p>

    </fieldset>
}

<br/>

@if(Model != null && Model.CheckinTools != null && Model.CheckinTools.Any())
{
    <table>
        <tr>
            <th>
                Ferramenta
            </th>
            <th>
                Funcionário/Condomínio
            </th>
            <th>
                Data do Checkin
            </th>
        </tr>
    
   
        @foreach (var item in Model.CheckinTools)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToolName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCompanyHolderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckinDateTime)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>Nenhum Checkin Encontrado</h3>
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/Mask/Masks.js")"></script>
    <script src="@Url.Content("~/Scripts/CheckinTool/checkinTool.js")"></script>
}
