@{
    ViewBag.MasterTitle = "Gerencie sua conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.MasterTitle.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Você está logado como <strong>@User.Identity.Name</strong>.</p>

<div class="navbar navbar-static">
    <div class="navbar-inner">
        @Html.Action("ClientMenu", "Account", new { area = "" })
    </div>
</div>

<section class="content-wrapper main-content clear-fix">
    @RenderBody()
</section>

@section scriptsOne
{
    @RenderSection("scriptsOne", false)
}

@RenderSection("scripts", false)