@model WebSiteMjr.Domain.Model.Roles.Role

<ul id="menuleft" role="navigation" class="nav">
    @*<li>@Html.ActionLink("Home", "Index", "ClientHome")</li>*@
    @*<li>@Html.ActionLink("Chamados", "Index", "Task")</li>*@
    @if (Model != null && Model.Name == "MjrAdmin")
    {
        <li>@Html.ActionLink("Funcionários", "Index", "Employee")</li>
        <li>
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gerenciar Condominio/Empresa <b class="caret"></b></a>
            <ul class="dropdown-menu" style="margin-left: 170px;">
                <li>@Html.ActionLink("Condominio/Empresa", "Index", "Company")</li>
                <li>@Html.ActionLink("Áreas de Condominio/Empresa", "Index", "ToolLocalization")</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gerenciar Materiais/Ferramentas <b class="caret"></b></a>
            <ul class="dropdown-menu" style="margin-left: 40px;">
                <li>@Html.ActionLink("Ferramentas", "Index", "Tool")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Materiais", "Index", "Stuff")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Categorias de Materiais/Ferramentas", "Index", "StuffCategory")</li>
                <li>@Html.ActionLink("Fabricante de Materiais/Ferramentas", "Index", "StuffManufacture")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Movimentação de Ferramentas", "Index", "CheckinTool")</li>
            </ul>
        </li>
        
    }
    else
    {
        <li>@Html.ActionLink("Meu Perfil", "Details", "Company")</li>
    }
    @*<li>@Html.ActionLink("Meu Perfil", "About", "Home")</li>*@
</ul>