@{
    ViewBag.MasterTitle = "Gerencie sua conta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.MasterTitle.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Você está logado como <strong>@User.Identity.Name</strong>.</p>

<nav>
    @Html.Action("ClientMenu", "Account")
</nav>
<section class="content-wrapper main-content clear-fix">
    @RenderBody()
</section>
