@model WebSiteMjr.Domain.Model.Roles.Role

<ul id="menuleft">
    <li>@Html.ActionLink("Home", "Index", "ClientHome")</li>
    <li>@Html.ActionLink("Chamados", "Index", "Task")</li>
    @if (Model != null && Model.Name == "MjrAdmin")
    {
        <li>@Html.ActionLink("Empresa", "Index", "Company")</li>
        <li>@Html.ActionLink("Materiais", "Index", "Stuff")</li>
        //<li>@Html.ActionLink("Categorias de Materiais", "Index", "StuffCategory")</li>
        //<li>@Html.ActionLink("Fabricante de Materiais", "Index", "StuffManufacture")</li>
    }
    else
    {
        <li>@Html.ActionLink("Empresa", "Details", "Company")</li>
    }
    <li>@Html.ActionLink("Meu Perfil", "About", "Home")</li>
    </ul>