@model WebSiteMjr.Domain.Model.Roles.MjrAppRole

<ul id="menu">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Empresa", "About", "Home")</li>
    <li>@Html.ActionLink("Contatos", "Contact", "Home")</li>
    @if (Model != null && (Model.Name == "MjrAdmin" || Model.Name == "MjrUser"))
    {
        <li>@Html.ActionLink("Administrar", "MyProfile", "Account")</li>
    }
    else if (Model != null && (Model.Name == "CompanyAdmin" || Model.Name == "User"))
    {
        <li>@Html.ActionLink("Meu Espaço", "MyProfile", "Account")</li>
    }
</ul>
