@model WebSiteMjr.ViewModels.EditStuffsViewModel

@{
    ViewBag.Title = "Detalhes do Material";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>    

<fieldset>
    <legend>Material</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Description, "Descrição")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.StuffCategory.Name, "Categoria")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.StuffCategory.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffManufacture.Name, "Fabricante")
    </div>

    <div class="editor-field">
        @Html.DisplayFor(model => model.StuffManufacture.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar a listagem", "Index")
</p>
