@model WebSiteMjr.Domain.Model.CompanyArea
@{
    ViewBag.Title = "Deletar Área de Condomínios/Empresas";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja deletar a Área de Condomínios/Empresas: @Model.Name?</h3>
<fieldset>
    <legend>Área de Condomínios/Empresas</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Deletar" /> |
        @Html.ActionLink("Voltar a listagem", "Index")
    </p>
}