@model WebSiteMjr.ViewModels.MyProfile

@{
    ViewBag.Title = "Bem-vindo ";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title @Model.MyName</h2>

<h3>Aqui segue um pouco sobre você</h3>
<br />
<br />

<span>Você pertence a empresa <b>@Model.CompanyName</b></span>
<br />

@if (@Model.MyPhone == null)
{
    <span>E infelizmente não possuímos nenhum número seu para contato</span>
}
else
{
    <span>E podemos entrar em contato com você pelo número <b>@Model.MyPhone</b></span>    
}
<br />
<br />

<span>Caso queira @Html.ActionLink("trocar sua senha, clique aqui", "ChangePassword")</span>
