@model WebSiteMjr.ViewModels.EditStuffsViewModel

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Tem certeza que deseja deletar o material @Model.Name?</h3>
<fieldset>
    <legend>Material</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Description, "Descrição")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffCategory.Name, "Categoria")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.StuffCategory.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffManufacture.Name, "Fabricante")
    </div>

    <div class="editor-field">
        @Html.DisplayFor(model => model.StuffManufacture.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar a listagem", "Index")
    </p>
}
