@model WebSiteMjr.ViewModels.StuffsViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja deletar o material @Model.Name?</h3>
<fieldset>
    <legend>Material</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffManufactures)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.StuffManufactureId, Model.StuffManufactures)
        @Html.ValidationMessageFor(model => model.StuffManufactureId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffCategories)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.StuffCategorieId, Model.StuffCategories)
        @Html.ValidationMessageFor(model => model.StuffCategorieId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar a listagem", "Index")
    </p>
}
