@model WebSiteMjr.ViewModels.StuffsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>Details</h2>    

<fieldset>
    <legend>Material</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffManufactures)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.StuffManufactureId, Model.StuffManufactures)
        @Html.ValidationMessageFor(model => model.StuffManufactureId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.StuffCategories)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.StuffCategorieId, Model.StuffCategories)
        @Html.ValidationMessageFor(model => model.StuffCategorieId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar a listagem", "Index")
</p>
