@model WebSiteMjr.ViewModels.EditToolViewModel



@{
    ViewBag.Title = "Cadastrar Ferramenta";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ferramenta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Nome")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description, "Descrição")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.Partial("_ChooseStuffCategory")
        </div>
        <div class="editor-field">
            @Html.Partial("_ChooseStuffManufacture")
        </div>
            
        <p>
            <input type="submit" value="Cadastrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a listagem", "Index")
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Stuff/_ChooseStuffCategory.js")"></script>
    <script src="@Url.Content("~/Scripts/Stuff/_ChooseStuffManufacture.js")"></script>
}

