@model WebSiteMjr.Domain.Model.ToolLocalization

@{
    ViewBag.Title = "Editar Área de Condomínios/Empresas";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Área de Condomínios/Empresas</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Nome")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Atualizar" />
        </p>
    </fieldset>

}

<div>
    @Html.ActionLink("Voltar a listagem", "Index")
</div>
