@model WebSiteMjr.Domain.Model.Company

@{
    ViewBag.Title = "Detalhes do Condominio/Empresa";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>    

<fieldset>
    <legend>Condominio/Empresa</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.Name, "Nome")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Email, "E-Mail")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Address, "Endereço")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.City, "Cidade")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Phone, "Telefone")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar a listagem", "Index")
</p>
