@model WebSiteMjr.Domain.Model.Company

@{
    ViewBag.Title = "Editar Condominio/Empresa";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Condominio/Empresa</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Nome")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email, "E-mail")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address, "Endereço")
            </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City, "Cidade")
            </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone, "Telefone")
            </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone, new { id = "Phone" })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        
        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Atualizar" />
        </p>
        
        @*<p>
            @Html.ActionLink("Enviar Login", "SendLogin", new { idCompany = Model.Id })
        </p>*@        
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a listagem", "Index")
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Mask/Masks.js")"></script>
}