@model WebSiteMjr.ViewModels.CreateEmployeeViewModel

@{
    ViewBag.Title = "Cadastrar Funcionário";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Funcionário</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Nome")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName, "Sobrenome")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone, "Celular")
        </div>
        
        @*// ==== Azeite no código ====*@

        <div class="editor-field1">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        
        @*// ==== Azeite no código ====*@
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Email, "E-Mail")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <br />
        <div class="editor-field">
            <label>@Html.CheckBoxFor(model => model.GenerateLogin) Criar login para funcionário?</label> 
        </div>
       
        <br/>

        <p>
            <input type="submit" value="Cadastrar" />
        </p>
</fieldset>
}

<div>
    @Html.ActionLink("Voltar a Listagem", "Index")
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Mask/Masks.js")"></script>
}