@model WebSiteMjr.ViewModels.CustomerService.Calls.CreateCallViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<h2>Novo chamado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div>@Html.EditorFor(model => model.Title)</div>
    <hr/>
    
    <fieldset>
        <div><label>@Html.EditorFor(model => model.IsMostUrgent) Urgente</label></div>
        <br/>
        <div>
            @Html.LabelFor(model => model.SelectedCompanyId, "Condominio/Empresa")
        </div>
        <div>
            @Html.DropDownList("SelectedCompanyId", ViewBag.Companies as SelectList, "Selecione...", new {id = "SelectCompany"})
        </div>
        <div>
            @Html.LabelFor(model => model.Details.Details, "Detalhes")
        </div>
        <div>
            @Html.TextAreaFor(model => model.Details.Details)
        </div>
        <div>
            @Html.LabelFor(model => model.SelectedEmployeesToResolveId, "Técnicos para resolver")
        </div>
        <div>
            @** Must create my own CheckListBox *@
            @Html.ListBox("SelectedEmployees", ViewBag.Employees as MultiSelectList)
        </div>
    </fieldset>
}


@section scripts{
    <script src="@Url.Content("~/Scripts/CustomerService/Call/CreateCall.js")"></script>
}

