@model WebSiteMjr.ViewModels.MyProfile

@{
    ViewBag.Title = "Bem-vindo ";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2>@ViewBag.Title @Model.MyName</h2>

<span>Aqui segue um pouco sobre você</span>
<br />
<br />

<span>Você pertence a empresa @Model.CompanyName</span>
<br />

@if (@Model.MyPhone == null)
{
    <span>E infelizmente não possuímos nenhum número seu para contato</span>
}
else
{
    <span>E podemos entrar em contato com você pelo número @Model.MyPhone</span>    
}
<br />

<span>Caso queira @Html.ActionLink("trocar sua senha, clique aqui", "ChangePassword", new {id = Model.UserId})</span>
